<div class="row">
  <div class="col-md-4 offset-md-4">
  <h3>Editing VM</h3>

  <%= render  partial: 'form', locals: { vm: @vm, form_url: @vm } %>

  <%= link_to 'Show', @vm %> |
  <%= link_to 'Back', vms_path %>
  </div>
</div>
